.body-header-wrapper-no-filters input {
    width: 93%;
    /*width: 60%;*/

}

.customer-body-wrapper {
    padding: 160px 47px 0 47px;
    border-radius: 0;
    background-color: var(--background-grey);

}

#save-customer-btn {
    bottom: 20px;

}



